@font-face {
    font-family: "raleway";
    src: url("../assets/fonts/raleway.zip")
}
body{
    margin: 0%;
}
header{
    position: sticky;
    top: 0;
    margin: 0px 0px 0px 2px;
    display: flex;
    flex-flow: row nowrap;
    background-color: rgba(241, 234, 218, 0.815);
    justify-content: start;
    align-items: baseline;
    height: 150px;
    width: 1421px;
    padding: 0px 0px 0px 0px;
    z-index: 1;
}
h1{
    color:#2E2E73 ; 
    font-family: "raleway", sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
}
.titulos{
    padding-top: 20px;
}
h2 {
    color:#2E2E73 ; 
    font-family: "raleway", sans-serif;
    text-align: center;
}
h3{
    font-family: "raleway", sans-serif;
}
p{
    font-family: "raleway", sans-serif;
    font-weight: 100;
    text-align: center;
    margin-bottom: 0%;
    margin-top: 0%;
}
ul{
    list-style-type: none;
}
.listaconCirculos{
    list-style: disc;
}
.listaGris{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(180, 189, 189);
    padding: 0%;
    width: 55px;
    height: 170px;
}
.listaGris li{
    margin-bottom: 40%;
}
.textoalaDerecha{
    text-align: right;
}
.textoalaIzq{
    text-align: left;
    margin: 0%;
}
a{
    font-family: "raleway", sans-serif;
    color: black;
    text-decoration: none;
}
.navegador{
    height: 100%;
    width: 260%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    bottom: 7px;
}
.navnone{
    display: none;
}
.navbar{
    width: 800px;
    position: relative;
    right: 40px; 
    top: 5px;
}
.log{
    display: flex;
    justify-content: left;
    flex-flow: column;
    align-items: center;
    height: 150px;
    width: 267px;
    background-color: rgb(244 238 225 / 0%);
}
.log img{
    width: 255px;
}
.log h1{
    font-size: x-large;
    position: relative;
    bottom: 20px;
}
main{
    background-color: rgba(241, 234, 218, 0.815);
    width: 100%;
    height: 100%;
}
footer{
    background-color: rgba(241, 234, 218, 0.815);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: end;
    height: 150px;
}
footer div{
    width: 300px;
}

.redes{
    display: flex;
    flex-flow: column nowrap;
    width: 230px;
}
.divfoot{
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    height: 22px;
}

.imgnav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0px 0px 0px 0px;
    background-color: rgb(244 238 225 / 0%);
    height: 23px;
    width: 135px;
    position: relative;
    left: 1005px;
}
.imagenPromo img{
    width: 300px;
    height: 200px;
    border-radius: 8%;
}
.imagenPromo{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.imagenPromo p{
    font-weight: bold;
}
.botonPromo{
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    padding-top: 20px;
}
.buttonClass {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:17px;
    font-family:"raleway", sans-serif;
    width:140px;
    height:50px;
    border-width:1px;
    color:#fff;
    border-color:rgba(20, 30, 42, 1);
    border-top-left-radius:28px;
    border-top-right-radius:28px;
    border-bottom-left-radius:28px;
    border-bottom-right-radius:28px;
    text-shadow: 1px 1px 0px rgba(8, 8, 8, 1);
    background:linear-gradient(rgba(244, 238, 225, 1), rgba(227, 213, 181, 1));
  }
  
  .buttonClass:hover {
    background: linear-gradient(rgba(227, 213, 181, 1), rgba(244, 238, 225, 1));
  }

.bannerUno{
    display: flex;
    flex-flow: row-reverse nowrap;
    padding-top: 45px;
}
.bannerUno img{
    width: 380px;
    height: 250px;
    border-radius: 33px;
}
.bannerUno div{
    display: flex;
    margin-left: 50px;
}
.divTextoBannerUno{
    display: flex;
    flex-flow: column nowrap;
}
.divTextoBannerUno h2{
    margin: 20px 0px 36px 0px;
}

.bannerDos img{
    width: 380px;
    height: 250px;
    border-radius: 33px;
    display: flex;
    align-items: center;
}
.bannerDos{
    display: flex;
    flex-flow: row;
}
.bannerDos div{
    display: flex;
    margin-right: 50px;
}
.divTextoBannerDos{
    display: flex;
    flex-flow: column nowrap;
    margin-top: 15px;
}
.divTextoBannerDos h2{
    margin-bottom: 35px;
}
.ubiLocal{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.divDireccion{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.mapaIframe iframe{
    width: 800px;
    height: 350px;
}

.quienesSomos{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border-style: dashed;
}
.divquienesSomos{
    display: flex;
    flex-flow: column;
    width: 50%;
    align-items: center;
}
.quienesSomos ul{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    gap: 30px;
    padding-top: 50px;
    grid-template-areas: 
    "lista uno dos tres"
    "lista cuatro cinco seis";
}
.container p{
    font-weight: bold;
}
.listaProductos{
    grid-area: lista;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90px;
    margin-left: 15%;
}
.listaProductos h3{
    font-weight: bold;
    font-size: large;
}
.container img{
    width: 320px;
    height: 205px;
    border-radius: 25px;
}
.productoUno{
    grid-area:uno;
    text-align: center;
}
.productoDos{
    grid-area:dos;
    text-align: center;
}
.productoTres{
    grid-area:tres;
    text-align: center;
}
.productoCuatro{
    grid-area:cuatro;
    text-align: center;
}
.productoCinco{
    grid-area:cinco;
    text-align: center;
}
.productoSeis{
    grid-area:seis;
    text-align: center;
}
.d-flex{
    justify-content: center;
    width: 320px;
    position: relative;
    left: 655px;
    top: 50px;
}

.textoDeContacto{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.textoDeContacto p{
    height: 72px;
    width: 400px;
}
.sectionContacto{
    display: flex;
    flex-flow: column;
}
.divContacto{
    display: flex;
    flex-flow: row;
}
.divContacto input{
    width: 187px;
    height: 20px;
}
.sectionContacto div{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.input {
    border-radius: 10px;
    outline: 2px solid #0066fe;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e2e2e2;
    outline-offset: 3px;
    padding: 10px 1rem;
    transition: 0.25s;
    margin: 6px;
  }
  
  .input:focus {
    outline-offset: 5px;
    background-color: #fff
  }

a:hover{
    color: #4a5fda;
    border-bottom: solid 1px #e01212;
}
.nav-item:hover{
    color: #4a5fda;
    border-bottom: solid 1px #e01212;
}
.dropdown-item:hover{
    color: #4a5fda;
    border-bottom: solid 1px #e01212;
}

@media (max-width:768px){
    header{
        flex-direction: column;
        width: 533px;
    }
    main{
        width: 533px;
    }
    .navegador{
        flex-direction: column;
        width: 153px;
        text-align: start;
    }
    .log{
        width: 533px;
        justify-content: center;
    }
    .log img{
        width: 268px;
    }
    .imagenBanner{
        width: 717px;
    }
    .imgnav{
       display: none;
    }
    .navbar{
        width: 155px;
        position: relative;
        right: 18px;
    }
    .navnone{
        display: inline;
    }
    .container-fluid{
        position: relative;
        bottom: 53px;
    }
    .carousel-inner{
        width: 533px;
        height: 333px;
    }
    .imagenPromo{
        flex-direction: column
    }
    .imagenPromo img{
        margin: 10px;
        width: 295px;
        height: 165px;
    }
    .buttonClass{
        width: 120px;
        height: 35px;
    }
    footer{
        width: 533px;
    }
    .redes{
        display: none;
    }
    .whatsapp{
        display: inline;
        position: fixed;
        top: 0%;
        width: 55px;
        height: 55px;
    }
    .footerDerecho{
        display: none;
    }
    .footerDerecho div{
        width: 160px;
        height: 50px;
        display: flex;
        position: relative;
        
    }
    .textoalaDerecha img{
        width: 20px;
        height: 20px;
    }
    .textoCopy{
        display: flex;
        justify-content: center;
        width: 533px;
        text-align: center;
    }
    .textoCopy p{
        font-size: 17px;
    }

}
@media (max-width:768px){
    .bannerUno{
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 15px;
    }
    .bannerUno div{
        margin-left: 0px;
    }
    .divTextoBannerUno{
        justify-content: center;
        align-items: center;
    }
    .bannerDos{
        flex-direction: column-reverse;
        align-items: center;
        
    }
    .bannerDos div{
        margin-right: 0px;
    }
    .divTextoBannerDos{
        justify-content: center;
        align-items: center;
    }
    
}
@media (max-width:768px){
    .container img{
        width: 198px;
        height: 167px;
    }
    .container p{
        font-size: small;
    }
    .container{
        padding-left: 0%;
        padding-right: 0%;
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 2fr;
        grid-template-rows: 2fr 2fr 2fr;
        gap: 20px;
        padding-top: 50px;
        grid-template-areas:
            "lista uno dos"
            "lista cuatro cinco "
            "lista tres seis";
    }
    .listaProductos{
        font-size: small;
        margin-left: 0%;
    }
    .listaProductos h3{
        font-size: medium;
    }
}
@media (max-width:768px){
    .mapaIframe iframe{
        width: 476px;
        height: 285px;
    }
}