@font-face {
  font-family: "raleway";
  src: url("../assets/fonts/raleway.zip");
}
p, h2, h1 {
  font-family: "raleway", sans-serif;
  text-align: center;
}

.imagenPromo, .divfoot, footer {
  display: flex;
  flex-flow: row nowrap;
}

body {
  margin: 0%;
}

header {
  position: sticky;
  top: 0;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-flow: row nowrap;
  background-color: rgba(241, 234, 218, 0.815);
  justify-content: start;
  align-items: baseline;
  height: 150px;
  width: 100%;
  padding: 0px 0px 0px 0px;
  z-index: 1;
}

h1 {
  color: #2E2E73;
  display: flex;
  justify-content: center;
}

h2 {
  color: #2E2E73;
}

h3 {
  font-family: "raleway", sans-serif;
}

p {
  font-weight: 100;
  margin-bottom: 0%;
  margin-top: 0%;
}

a {
  font-family: "raleway", sans-serif;
  color: black;
  text-decoration: none;
}
a:hover {
  color: #4a5fda;
  border-bottom: solid 1px #e01212;
  transform: translate(-1px, -5px);
}

.nav-item:hover {
  color: #4a5fda;
}

.dropdown-item:hover {
  color: #4a5fda;
  border-bottom: solid 1px #e01212;
}

ul {
  list-style-type: none;
}

.titulos {
  padding-top: 20px;
}

.listaconCirculos {
  list-style: disc;
}

.listaGris {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(180, 189, 189);
  padding: 0%;
  width: 55px;
  height: 170px;
}
.listaGris li {
  margin-bottom: 40%;
}

.textoalaDerecha {
  text-align: right;
}

.textoalaIzq {
  text-align: left;
  margin: 0%;
}

.navegador {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  bottom: 7px;
  padding: 0%;
}

.navnone {
  display: none;
}

.navbar {
  width: 65%;
  position: relative;
  left: 7%;
  top: 7%;
}

.container-fluid {
  padding: 0%;
}

.log {
  display: flex;
  justify-content: left;
  flex-flow: column;
  align-items: center;
  height: 150px;
  width: 267px;
  background-color: rgba(244, 238, 225, 0);
}
.log h1 {
  font-size: x-large;
  position: relative;
  bottom: 20px;
}
.log img {
  width: 255px;
}

main {
  background-color: rgba(241, 234, 218, 0.815);
  width: 100%;
  height: 100%;
}

footer {
  background-color: rgba(241, 234, 218, 0.815);
  justify-content: space-between;
  align-items: end;
  height: 150px;
}
footer div {
  width: 300px;
}

.redes {
  display: flex;
  flex-flow: column nowrap;
  width: 230px;
}

.divfoot {
  justify-content: start;
  align-items: center;
  height: 22px;
}

.imgnav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0px 0px 0px 0px;
  background-color: rgba(244, 238, 225, 0);
  height: 23px;
  width: 110px;
}

.imagenPromo {
  justify-content: space-evenly;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.imagenPromo img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
.imagenPromo img p {
  font-weight: bold;
}

.bannerUno {
  display: flex;
  flex-flow: row-reverse nowrap;
  padding-top: 45px;
}
.bannerUno div {
  display: flex;
  margin-left: 50px;
}
.bannerUno div img {
  width: 380px;
  height: 250px;
  border-radius: 33px;
}

.divTextoBannerUno {
  display: flex;
  flex-flow: column nowrap;
}
.divTextoBannerUno h2 {
  margin: 20px 0px 36px 0px;
}

.bannerDos {
  display: flex;
  flex-flow: row;
}
.bannerDos div {
  display: flex;
  margin-right: 50px;
}
.bannerDos div img {
  width: 380px;
  height: 250px;
  border-radius: 33px;
  display: flex;
  align-items: center;
}

.divTextoBannerDos {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 15px;
}
.divTextoBannerDos h2 {
  margin-bottom: 35px;
}

.ubiLocal {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.ubiLocal iframe {
  width: 60%;
  height: 350px;
}

.divmapa {
  width: 100%;
  display: flex;
  justify-content: center;
}

.divDireccion {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.quienesSomos {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-style: dashed;
}
.quienesSomos ul {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.divquienesSomos {
  display: flex;
  flex-flow: column;
  width: 50%;
  align-items: center;
}

.container-lg {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  gap: 12px;
  padding: 50px 0px 0px 0px;
  grid-template-areas: "lista uno dos tres" "lista cuatro cinco seis";
}
.container-lg p {
  font-weight: bold;
}
.container-lg img {
  width: 320px;
  height: 205px;
  border-radius: 0px;
}

.listaProductos {
  grid-area: lista;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80px;
  margin-left: 0px;
}

.productoUno {
  grid-area: uno;
}

.productoDos {
  grid-area: dos;
}

.productoTres {
  grid-area: tres;
}

.productoCuatro {
  grid-area: cuatro;
}

.productoCinco {
  grid-area: cinco;
}

.productoSeis {
  grid-area: seis;
}

.radio-input input {
  display: none;
}

.radio-input {
  --container_width: 200px;
  position: relative;
  display: none;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  color: black;
  width: var(--container_width);
  overflow: hidden;
  border: 1px solid rgb(180, 189, 189);
}

.radio-input label {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 14px;
}

.selection {
  display: none;
  position: absolute;
  height: 100%;
  width: calc(var(--container_width) / 2);
  z-index: 0;
  left: 0;
  top: 0;
  transition: 0.15s ease;
}

.radio-input label:has(input:checked) {
  color: #fff;
}

.radio-input label:has(input:checked) ~ .selection {
  background-color: rgb(113, 134, 230);
  display: inline-block;
}

.radio-input label:nth-child(1):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 0 / 2));
}

.radio-input label:nth-child(2):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 5 / 2));
}

.d-flex {
  justify-content: center;
  width: 320px;
  position: relative;
  left: 655px;
  top: 50px;
}

.textoDeContacto {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.textoDeContacto p {
  height: 72px;
  width: 400px;
}

.sectionContacto {
  display: flex;
  flex-flow: column;
}
.sectionContacto div {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.divContacto {
  display: flex;
  flex-flow: row;
}
.divContacto input {
  width: 187px;
  height: 20px;
}

.input {
  border-radius: 10px;
  outline: 2px solid #0066fe;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #e2e2e2;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
  margin: 6px;
}
.input:focus {
  outline-offset: 5px;
  background-color: #fff;
}

.card {
  position: relative;
  width: 279px;
  aspect-ratio: 16/9;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5019607843);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card img {
  width: 101%;
  height: 100%;
}
.card img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__description {
  margin: 10px 0 10px;
  font-size: 12px;
  color: #777;
  line-height: 1.4;
}

.precio {
  position: relative;
  bottom: 7px;
}

.card__button {
  margin-top: 0px;
  padding: 7px;
  padding-right: 37px;
  background: rgb(113, 134, 230);
  border: none;
  color: #fff;
}

.secondary {
  background: transparent;
  color: #777;
  border: 1px solid #777;
}

.botonPromo {
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
  padding-top: 20px;
}

.buttonClass {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-family: "raleway", sans-serif;
  width: 140px;
  height: 50px;
  border-width: 1px;
  color: #fff;
  border-color: rgb(20, 30, 42);
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  text-shadow: 1px 1px 0px black;
  background: linear-gradient(rgb(244, 238, 225), rgb(227, 213, 181));
}
.buttonClass:hover {
  background: linear-gradient(rgb(227, 213, 181), rgb(244, 238, 225));
}

@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  main {
    width: 100%;
  }
  .navegador {
    flex-direction: column;
    width: 153px;
    text-align: start;
    padding-left: 15px;
  }
  .log {
    width: 100%;
    justify-content: center;
  }
  .log img {
    width: 268px;
  }
  .imagenBanner {
    width: 717px;
  }
  .imgnav {
    display: inline;
  }
  .navbar {
    width: 155px;
    position: relative;
    right: 18px;
  }
  .navnone {
    display: inline;
  }
  .container-fluid {
    position: relative;
    bottom: 53px;
    right: 25%;
  }
  .carousel-inner {
    width: 100%;
    height: 333px;
  }
  .imagenPromo {
    flex-direction: column;
    width: 100%;
  }
  .imagenPromo img {
    margin: 10px;
    width: 100%;
    height: 100%;
  }
  .imagenPromo .card {
    width: 55%;
    margin-top: 4%;
  }
  .imagenPromo .card__content {
    padding: 10px 10px 10px 13px;
  }
  .buttonClass {
    width: 120px;
    height: 35px;
  }
  footer {
    width: 100%;
    justify-content: center;
  }
  .redes {
    display: none;
  }
  .whatsapp {
    display: inline;
    position: fixed;
    top: 0%;
    width: 55px;
    height: 55px;
  }
  .footerDerecho {
    display: none;
  }
  .footerDerecho div {
    width: 160px;
    height: 50px;
    display: flex;
    position: relative;
  }
  .textoalaDerecha img {
    width: 20px;
    height: 20px;
  }
  .textoCopy {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  .textoCopy p {
    font-size: 17px;
  }
}
@media (max-width: 768px) {
  .bannerUno {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 15px;
  }
  .bannerUno div {
    margin-left: 0px;
  }
  .divTextoBannerUno {
    justify-content: center;
    align-items: center;
  }
  .bannerDos {
    flex-direction: column-reverse;
    align-items: center;
  }
  .bannerDos div {
    margin-right: 0px;
  }
  .divTextoBannerDos {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .radio-input {
    --container_width: 40%;
    display: flex;
    left: 30%;
    margin-top: 5%;
  }
  .radio-input label:has(input:checked) ~ .selection {
    width: 50%;
    background-color: rgb(113, 134, 230);
    display: inline-block;
  }
  .container img {
    width: 100%;
    height: 100%;
  }
  .container p {
    font-size: small;
  }
  .container-lg {
    padding-left: 1%;
    padding-right: 0%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
    gap: 20px;
    padding-top: 50px;
    grid-template-areas: "uno dos" "cuatro cinco" "tres seis";
  }
  .container-lg img {
    width: 100%;
    height: 100%;
  }
  .container-lg p {
    font-size: small;
  }
  .listaProductos {
    display: none;
    font-size: small;
    margin-left: 0%;
  }
  .card {
    width: 99%;
  }
  .card button {
    padding-right: 12px;
    padding: 5px;
  }
  .card__description {
    margin: 0px 0 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
