$fondo:rgba(241, 234, 218, 0.815);
$fondodos:rgb(241, 234, 218);
$titulo: #2E2E73;
$link: black;
$linkAzul: #4a5fda;
$subrayadoRojo: #e01212;
$listaGris:rgb(180, 189, 189);
$fondoLogo: rgb(244 238 225 / 0%);
$botonPromo: #fff;
$bordeBotonPromo: rgba(20, 30, 42, 1);
$gradienteUno: rgba(244, 238, 225, 1);
$gradienteDos: rgba(227, 213, 181, 1);
$fondoBotonForm: #e2e2e2;
$lineaForm: #0066fe;
$fondoCard: #f2f2f2;
$sombraCard: #ffffff80;
$sombraHover: rgba(255, 255, 255, 0.2);
$descripcionCard: #777;
$fondoBoton: rgb(113, 134, 230);

@font-face {
    font-family: "raleway";
    src: url("../assets/fonts/raleway.zip")
}

%textos{
    font-family: "raleway", sans-serif;
    text-align: center;
}
%flexrow{
    display: flex;
    flex-flow: row nowrap;
}