@media (max-width:768px){
    header{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    main{
        width: 100%;
    }
    .navegador{
        flex-direction: column;
        width: 153px;
        text-align: start;
        padding-left: 15px;
        bottom: 0%;
    }
    .log{
        width: 100%;
        justify-content: center;
        img{
            width: 268px;
        }
    }
    .imagenBanner{
        width: 717px;
    }
    .imgnav{
       display: inline;
       height: 50px;
    }
    .navbar{
        width: 106px;
        position: relative;
        right: 18px;
    }
    .navnone{
        display: inline;
        hr{
                width: 110px;
        }
    }
    .container-fluid{
        position: relative;
        bottom: 60px;
        right: 25%;
    }
    .navbar-collapse{
        background-color: $fondodos;
        border-style: solid;
        border-color: $listaGris;
        border-radius: 10px;
    }
    .carousel-inner{
        width: 100%;
        height: 333px;
    }
    .imagenPromo{
        flex-direction: column;
        width: 100%;
        img{
            margin: 10px;
            width: 100%;
            height: 100%;
        }
    }
    .imagenPromo{
        .card{
            width: 55%;
            margin-top: 4%;
        }
        .card__content{
            padding: 10px 10px 10px 13px;
        }
    }
    .buttonClass{
        width: 120px;
        height: 35px;
    }
    footer{
        width: 100%;
    }
    .redes{
        display: none;
    }
    .footerDerecho{
        display: none;
        div{
            width: 160px;
            height: 50px;
            display: flex;
            position: relative; 
        }
    }
    .textoalaDerecha{
        img{
            width: 20px;
            height: 20px;
        }
    }
    .textoCopy{
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
        p{
            font-size: 17px;
        }
    }
    .sectionCopy{
        width: 100%;
    }
    .redMobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        width: 99%;
        height: 10%;
        margin-bottom: 2px;
        position: fixed;
        bottom: 0%;
        img{
            width: 33px;
            border-radius: 15px;
        }
    }
}